
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header form {
    margin-top: 10px;
}

header input, footer input, footer textarea {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
}

header button, footer button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

header button:hover, footer button:hover {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    
    
}

#galeria {
    padding: 20px;
    text-align: center;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.fotos img {
    width: 100%;
    height: auto;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

#apresentacao .texto {
    width: 50%;
    padding-right: 20px;
}

#apresentacao .imagem {
    width: 40%;
}

#apresentacao img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

#sobre {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.secao {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    font-size: 1.8em;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}



